#articulo-info .articulo-photo {
  height: 150px;
  width: 150px;
  object-fit: contain;
  float: left;
  padding: 20px;
}




#articulo-info .articulo-descripcion {
  padding-top: 20px;
  text-align: justify;
  font-weight: bold;
}

.dark #articulo-info .articulo-descripcion {
  color: rgb(181, 181, 181);
}

#articulo-info{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px;
  height: 180px;
}








