@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  margin:0;
  padding:0;
}
.canvas{
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/802412/pexels-photo-802412.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
}



.input-suggestion{
  background-color: white;
  border-bottom: 1px black dotted;
  display: flex;
  align-items: center;
  color: black;
}